.direnv/
.env
.envrc
.git/
.php-cs-fixer.cache
.php.d/
.phpunit.cache/
.phpunit.result.cache
.pnpm-store/
.vscode
_ide_helper.php
dist/
node_modules/
npm-debug.log
public/build/
public/hot
public/storage
public/vendor/
storage/*.key
vendor/
